body {
    background: url('');
}

#nav-line {
    margin-bottom: 0;
    /* display: none; */
}

section {
    display: flex;
    padding: 0;
    position: relative;
    height: 100%;
}

aside {
    min-height: 100%;
    border: 1px solid grey;
    background-color: rgb(49, 49, 49);
}

#administration-aside-content {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#administration-aside-content h2 {
    margin: 0;
    padding: 15px 0;
    border-bottom: 1px solid grey;
}

#administration-aside-content a {
    display: block;
    margin-right: 0;
    padding: 15px 50px;
    color: white;
    border-bottom: 1px solid grey;   
}

#administration-aside-content a:hover {
    text-decoration: none;
    background-color: rgb(241, 240, 240);
    color: black;
}

#administration-main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
    width: 80%;
    height: 100%;
    margin: auto;
}

h3 {
    margin-bottom: 30px;
}

/* page d'erreur */
#error-msg-container {
    position: relative;
    top: -12px;
    padding-top: 200px;
    padding-left: 500px;
    height: 700px;
    background-color: rgb(46, 45, 45);
}

#error-msg-container p {
    font-size: 2.5em;
    color: white;
}

#error-msg-container a {
    display: block;
    padding: 10px;
    width: 180px;
    text-align: center;
    background-color: white;
    color: grey;
    border: 1px solid grey;
    border-radius: 5px;
}

#error-msg-container a:hover {
    text-decoration: none;
    border: 1px solid white;
    background-color: grey;
    color: white;
}

table {
    border: 1px solid grey;
}

th {
    text-align: center;
}

table td,
table th {
    padding: 10px 20px;
    border: 1px solid grey;
    border-collapse: collapse;
}

table th {
    padding: 20px;
}

tr td:not(:first-child) {
    text-align: center;
    font-size: 0.95em;
}

/* rédaction articles : */

form label,
input[type=radio],
input[type=file],
input[type=submit] {
    cursor: pointer;
}

#postTitle,
input[type=file] {
    width: 40%;
}

input[type=file] {
    overflow: hidden;
    padding: 8px 10px;
    border: 1px solid rgb(204, 203, 203);
    border-radius: 4px;
}

input[type=radio] {
    position: relative;
    top: 4px;
    margin-right: 10px;
}

input[type=submit] {
    margin-top: 20px;
    border: none;
    border: 1px solid rgb(111, 180, 102);
    padding: 6px 18px;
    border-radius: 5px;
    background-color: rgb(111, 199, 99);
}

input[type=submit]:hover {
    color: white;
    background-color: rgb(62, 102, 57);
}

span {
    font-weight: bold;
}

#note {
    font-weight: normal;
    font-size: 0.8em;
}

/* modification articles */

.updating-icon {
    visibility: hidden;
    margin-left: 10px;
}

.link-for-post-watching,
.link-for-post-action {
    font-weight: bold; 
}

.link-for-post-action {
    color: grey;
}

.link-for-post-action:hover {
    color: grey;
}

.link-for-post-deleting,
.link-for-post-updating {
    display: block;
    width: 100%;
    padding: 5px 10px;
    border-radius: 5px;
    color: grey;
}

.link-for-post-deleting:hover,
.link-for-post-updating:hover {
    text-decoration: none;
    color: white;
}

.link-for-post-updating:hover {
    background-color: rgb(75, 128, 68);
}

.link-for-post-deleting:hover {
    /* font-weight: bold; */
    background-color: rgb(252, 88, 88);
}