body {
    background: url('');
}

#nav-line {
    margin-bottom: 0;
    /* display: none; */
}

section {
    display: flex;
    padding: 0;
    position: relative;
    /* top: -14px; */
    height: 100%;
}

aside {
    height: 100%;
    border: 1px solid grey;
    /* border-right: 1px solid grey;  */
    background-color: rgb(49, 49, 49);
}

#administration-aside-content {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#administration-aside-content h2 {
    margin: 0;
    padding: 15px 0;
    border-bottom: 1px solid grey;
}

#administration-aside-content a {
    display: block;
    margin-right: 0;
    padding: 15px 50px;
    color: white;
    border-bottom: 1px solid grey;   
}

#administration-aside-content a:hover {
    text-decoration: none;
    background-color: rgb(241, 240, 240);
    color: black;
}

#administration-main-content {
    padding: 100px;
    width: 80%;
}

#error-msg-container {
    position: relative;
    top: -12px;
    padding-top: 200px;
    padding-left: 500px;
    height: 700px;
    background-color: rgb(46, 45, 45);
}

#error-msg-container p {
    font-size: 2.5em;
    color: white;
}

#error-msg-container a {
    display: block;
    padding: 10px;
    width: 180px;
    text-align: center;
    background-color: white;
    color: grey;
    border: 1px solid grey;
    border-radius: 5px;
}

#error-msg-container a:hover {
    text-decoration: none;
    border: 1px solid white;
    background-color: grey;
    color: white;
}

table {
    border: 1px solid grey;
    
}

th {
    text-align: center;
}

table td,
table th {
    padding: 10px 15px;
    border: 1px solid grey;
    border-collapse: collapse;
}

tr td:not(:first-child) {
    font-size: 0.95em;
}


/* modification artciles */

.updating-icon {
    visibility: hidden;
    margin-left: 10px;
}

.link-for-post-action {
    font-weight: bold;
    color: grey;
}

.link-for-post-action:hover {
    color: grey;
}