@font-face {
    font-family: 'got';
    src: url('got.ttf');
}

body {
    position: relative;
    background-color: rgb(37, 36, 36);
    background: url("../../public/images/got1.png") fixed repeat top;
}

#main-wrap {
    position: relative;
    background-color: white;
    padding-bottom: 100px;
}

#intro {
    position: absolute;
    top: -180px;
    left: 0;
    margin: 0;
    width: 100%;
    text-align: center;
    line-height: 0.9;
    font-family: 'got', serif;
    font-size: 2.5em;
    color: white;
}

#intro span {
    font-size: 0.5em;
    letter-spacing: 0.2em;
}

#intro a {
    display: block;
    padding: 5px 0;
    width: 110px;
    margin: auto;
    margin-top: 30px;
    border: 1px solid rgb(190, 190, 190);
    border-radius: 5px;
    font-family: serif;
    font-size: 0.3em;
    color: rgb(190, 190, 190);

}

#intro a:hover {
    background-color: white;
    color: black;
    text-decoration: none;
}

section {
    padding: 0 20px;
    margin-top: 50px;
    min-height: 800px;
}

/* ========================= */
/* MENU DE NAVIGATION */
nav {
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

nav a {
    padding: 15px;
    color: black;
    text-transform: uppercase;
}


/* ========================= */
/* LOGO SITE : */
#banner-img {
    width: 100%;
}


/* ========================= */
/* PAGE DE CONNEXION : */

#connexion-and-registration-forms-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 20px 0;
    width: 100%;
    margin: auto;
}

#connexion-and-registration-forms-container h4 {
    margin-bottom: 30px;
}

#errorMsg,
.error-msg {
    display: none;
    margin-bottom: 20px;
    padding: 5px 14px;
    background-color: rgb(253, 228, 228);
    border: 1px solid rgb(255, 186, 186);
    border-radius: 5px;
    color: rgb(224, 48, 48);
}

#connexion-form, 
#registration-form {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

#connexion-form p,
#registration-form p {
   width: 50%; 
}

#connexion-form input:not([type=submit]),
#registration-form input:not([type=submit]) {
    width: 100%;
}

#connexion-form input[type=submit],
#registration-form input[type=submit] {
    cursor: pointer;
    margin-bottom: 50px;
}

#registrationConfirmation {
    margin-top: -80px;
    margin-bottom: 70px;
    padding: 20px;
    text-align: center;
    background-color: rgb(228, 228, 228);
    color: rgb(136, 135, 135);
    font-weight: bold;
}

/* ========================= */
/* BOUTONS RESEAUX SOCIAUX : */

#actions-btns {
    padding: 0 15px;
}

.network-logo {
    padding-left: 0;
    width: 150px;
    height: 100px;
}

.network-logo img {
    width: 100%;
    height: 100%;
}

#following-redirection-btn {
    display: flex;
    padding: 0;
}

#following-redirection-btn a {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center; 
    font-family: 'Cabin sketch', sans-serif;
    font-size: 3.5em;
    text-transform: uppercase;
    color: rgb(226, 4, 4);
    text-decoration: underline;
    border: 3px solid rgb(226, 4, 4);
    margin: auto;
    width: 100%;
    height: 100%;
}

#following-redirection-btn a:hover {
    border-left: 3px solid red;
    border-bottom: 3px solid red;
    padding-right: -20px;
    padding-top: -20px;
}

/* ========================= */

a:hover {
    color: rgb(44, 144, 168);
}


/* ========================= */
/* MISE EN PAGE DES ARTICLES SUR PAGE D'ACCUEIL */

#news-posts-container {
    border-right: 1px solid  rgb(175, 170, 170);
}

#news-posts-container,
#next-releases-posts-container {
    padding: 0 25px;
}

#next-releases-posts-container h2,
#next-releases-posts-container hr {
    margin-bottom: 0;
}

h2, 
#next-releases-posts-container h3,
.news-posts h3 {
    font-family: 'Anton', sans-serif;
}

h2 {
    letter-spacing: 0.2em;
    font-size: 1.5em;
    color: rgb(131, 128, 128);
}

h3 {
    font-size: 1.3em;
    line-height: 1em;
}

.news-posts h3 {
    font-size: 1.1em;
}

#next-releases-posts-container h3 {
    font-size: 1.3em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    color: rgb(62, 150, 160);
}

.posters-frames {
    display: block;
    display: flex;
    justify-content: center;
    width: 82%;
    margin: auto;
}

.posters {
    width: 100%;
}

.posters-frames .posters {
    width: 100%;
    height: 100%;
}

.posters-containers:hover {
    opacity: 0.6;
} 

.news-posts-content {
    position: relative;
    top: -18px;
}

.news-posts-content p:last-child,
.comments-date-and-actions {
    font-size: 0.9em;
    color: rgb(131, 128, 128);
}

#news-posts-container h3 a {
    color: rgb(60, 87, 114);
}

.news-posts-content a:last-child {
    font-size: 0.9em;
    color: rgb(211, 2, 2);
}

#next-releases-posts-container a {
    color: rgb(90, 185, 209);
}

#next-releases-posts-container p {
    text-align: center;
}

hr {
    position: relative;
    margin-top: 0;
    border-color: rgb(175, 170, 170);
}

.title-separations {
    border-width: 2px;
    border-color: rgb(124, 124, 124);  
}

#news-posts-container hr {
    top: -8px;
}

#news-posts-container hr:last-child,
#next-releases-posts-container hr:last-child {
    visibility: hidden;
}

#pagination {
    font-size: 0.85em;
    position: relative;
}


/* ========================= */
/* MISE EN PAGE DE L'ARTICLE SELECTIONNE */

#post-container {
    position: relative;
    top: -100px;
    margin: 0 100px;
    padding: 20px 20px 0 20px;
}

#post-container h3 {
    font-size: 1.6em;
    padding: 30px;
}

#post-container h3,
#post-date,
#post-poster {
    text-align: center;
}

#post-poster img {
    width: 80%;
    margin-bottom: 10px;
}

#post-container p:last-child {
    margin-top: 50px;
}

#post-content img {
    width:45%;
}

/* actions possibles concernant les articles : */
#post-actions-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

#post-actions-container div {
    margin: 0px 40px;
}

#reading-comments-btn,
#comment-btn, 
#sharing-btns-container img {
    cursor: pointer;
}

#comment-btn {
    padding: 8px 25px;
    background-color: rgb(35, 35, 35);
    color: white;
    border-radius: 50px;
}

#sharing-btns-container {
    display: flex;
}

#sharing-btns-container img {
    margin: 0 5px;
    width: 50px;
    height: 100%;
    border-radius: 50%;
}

#comment-btn:hover {
    background-color: rgb(82, 79, 79);
}

#sharing-btns-container img:hover {
    opacity: 0.6;
}

/* formulaire commentaires */
#comment-form {
    display: none;
    margin-top: 16px;
}

#comment-form-fields-container {
    margin-top: 20px;
}

#comment-form-fields-container,
#comment-form-author-and-textarea,
#comment-form-submit-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

#comment-form-author-and-textarea div {
    margin-right: 10px;
    width: 65px;
    height: 65px;
}

#comment-form img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid rgb(168, 166, 166);
}

#comment-form input {
    width: 80px;
    padding: 0;
    cursor: pointer;
}

#comment-text {
    margin-right: 10px;
    height: 60px;
    width: 80%;
    border: 1px solid rgb(194, 193, 193);
    background-color: rgb(247, 242, 242);
    border-radius: 50px;
    padding: 10px 20px;
}

#updating-comment-text {
    background-color: rgb(247, 242, 242);
    border: none;
    border-radius: 50px;
}



/* ========================= */
/* MISE EN PAGE DES COMMENTAIRES DE L'ARTICLE SELECTIONNE */

#comments-container {
    margin: 0 200px;
}

#comments-container p:first-child {
    font-weight: bold;
    font-size: 1.1em;
}

.comments {
    margin-bottom: 15px;
}

.comments i {
    padding-left: 20px;
}

.author-and-content {
    display: flex;
    align-items: center;
    padding: 10px 12px;
    font-size: 1.1em;
    border-radius: 50px;
    background-color: rgb(46, 45, 45);
    color: white;
}

.user-avatar-for-comments {
    width: 60px;
    border-radius: 50%;
    margin-right: 10px;
}

.authors {
    font-weight: bold;
    margin-right: 10px;
}

.author-and-content div:nth-child(1) {
    margin-right: 10px;
    width: 65px;
    height: 65px;
}

.user-avatar-for-comments {
    width: 100%;
    height: 100%;
}

.author-and-content div:nth-child(2) {
    display: flex;
    width: 85%;
    align-items: center;
}

.author-and-content div:nth-child(2) span:nth-child(2) {
    display: block;
    padding: 5px 10px 5px 0;
}

.comments-date-and-actions {
    display: flex;
}

.comments-date-and-actions i, a, p {
    margin-right: 5px;
}

.comments-date-and-actions a:last-child {
    margin-left: 5px;
}

.success-msg-for-reporting-comment {
    padding-right: 5px;
    font-weight: bold;
    margin: 0;
}

.updating-comment-form {
    display: relative;
    display: flex;
    align-items: center;
    width: 100%;
}

.updating-comment-form textarea {
    padding: 5px 15px;
    margin-right: 20px;
    width: 80%;
    height: 60px;
    
}

.updating-comment-form input {
    position: relative;
    bottom: 0px;
    padding: 2px 6px;
    font-size: 0.9em;
    border: 1px solid grey;
    border-radius: 4px;
    cursor: pointer;
}

.success-msg {
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    font-weight: bold;
    color: rgb(50, 100, 100);
    border:1px solid rgb(190, 233, 233);
    background-color: rgb(233, 241, 241);
}

/* pagination : */

#pagination {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

[class^='cell'] {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3px;
    width: 25px;
    height: 35px;
    text-align: center;
    border: 1px solid rgb(192, 189, 189);
    border-radius: 5px;
}

[class^='cell'] a:hover {
    background-color: grey;
    color: white;
    text-decoration: none;
}

.cell a {
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    width: 100%;
    height: 100%;
    color: black;
}

.cell_active {
    background-color: rgb(224, 223, 223);
    
}


/* ========================= */
/* PAGE DES SERIES TV */

#tv-shows-category-title {
    display: flex;
    align-items: baseline;
}

#tv-shows-category-title h3 span {
    font-weight: bold;
    background-color: yellow;
}

#tv-shows-category-title a {
    margin-left: 5px;
}

#tv-shows-page-info-container {
    margin-bottom: 30px;
    padding: 25px;
    text-align: center;
    border: 1px solid grey;
    border-radius: 10px;
    background-color: rgb(46, 45, 45);
    color: white;
}

#tv-shows-page-info {
    display: flex;
    justify-content: center;
    align-items: center; 
}

#tv-shows-page-info span {
    font-size: 1.4em;
    font-weight: bold;
}

#tv-shows-page-info img {
    margin-right: 10px;
    width: 50px;
    height: 50px;
}

#tv-shows-page-info-container a {
    display: block;
    width: 130px;
    margin: auto;
    margin-top: 3px;
    padding-bottom: 2px;
    font-size: 0.8em;
    color: rgb(32, 32, 32);
    border-radius: 3px;
    background-color: rgb(255, 238, 0);
}

#tv-shows-page-info-container a:hover {
    text-decoration: none;
    background-color: white;
    font-weight: bold;
    color: black;
}

#forms-container {
    padding: 0 100px;
}

.search-arrows {
    width: 25px;
}

#tv-shows-research-show,
#change-avatar-title {
    margin-bottom: 15px;
    border-bottom: 1px solid grey;
    padding: 20px 0 10px 0;
}

h5 {
    text-decoration: underline;
    margin-bottom: 0;
    font-size: 1.1em;
}

#search-container {
    display: flex;
    margin-left: 15px;
    align-items: center;
    width: 285px;
    border: 2px solid #ced4da;
    border-radius: 4px;
}

#search-container input {
    height: 100%;
    border: none;
    border-radius: 0;
    border-right: 1px solid #ced4da;
}

#search-container button {
    height: 36px;
    border: none;
    background-color: white;
    cursor: pointer;
}

#search-container button:hover {
    background-color: #ced4da;
}

#search-container img {
    width: 30px;
}

#search-form {
    padding-top: 10px;
}

#discover-form {
    display: flex;
    align-items: center;
}

#discover-form p {
    padding: 10px 15px;
}

#discover-form input:last-child:hover {
    cursor: pointer;
}

#tv-shows-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#tv-shows-container div {
    position: relative;
}

.img-containers img {
    width: 100%;
    height: 100%;
}

.tv-shows-links {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    display: block;
    width: 100%;
    height: 100%;
    border: 10px solid white;
}

.tv-shows-links:hover {
    border: 10px solid yellow;
    background-color: rgba(12, 12, 12, 0.7);
}

#loading {
    width: 100px;
    margin: auto;
}

#loading img {
    width: 100%;
}

#scroll-up-arrow {
    position: absolute;
    right: -25px;
    top: 90%;
}


/* PAGE DES DETAILS D'UNE SERIE */
#tv-show-container {
    position: relative;
    top: -100px;
    box-shadow: 12px 0 15px -4px rgba(49, 50, 51, 0.8), -12px 0 8px -4px rgba(49, 50, 51, 0.8);
}

#tv-show-intro {
    padding: 20px 0 10px 0;
    background-color: #313233;
    color: grey;
}

#tv-show-intro div:first-child,
#second-intro-container {
    display: flex;
    position: relative;
}

#tv-show-intro div:first-child {
    padding: 10px 20px 0px 20px;
}

#second-intro-container {
    align-items: center;
    height: 70px;
}

#tv-show-note,
#second-intro-container div {
    position: absolute;
    right: 30px;
}

#second-intro-container div {
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 10px;
}

#second-intro-container div p {
    margin-bottom: 0;
    margin-top: 5px;
}

#second-intro-container button {
    border: none;
    padding: 5px 15px;
    border-radius: 5px;
    background-color: rgb(255, 230, 0);
    color: rgb(68, 68, 68);
    font-weight: bold;
}

/* note de la série : */
#tv-show-note {
    display: flex;
    align-items: baseline;
    margin: 0;
    top: 15px;
}

#tv-show-note span:first-child {
    position: relative;
    top: -3px;
}

#tv-show-note span {
    font-size: 2em;
    color: white;
}

#tv-show-note img {
    width: 30px;
    margin-right: 3px;
}
/* // */

#tv-show-intro hr {
    margin-bottom: 10px;
}

#following-tvshows-btn {
    margin-right: 8px;
}

#following-tvshows-btn img {
    width: 45px;
}

#tv-show-intro h2 {
    margin-bottom: 0;
    font-size: 2.5em;
    color: white;
}

#tv-show-genres {
    margin-bottom: 10px;
}

#tv-show-genres,
#tv-show-nb-of-episodes-and-seasons,
#second-intro-container div p {
    font-size: 0.9em;
}

#tv-show-nb-of-episodes-and-seasons {
    margin-bottom: 0;
    padding: 0 73px;
}

#tv-show-details {
    display: flex;
}

#tv-show-poster {
    margin-right: 20px;
}

#tv-show-episodes {
    padding: 40px;
    background-color: rgb(245, 245, 245);
}

#tv-show-last-episode p {
    margin-bottom: 0px;
}

#tv-show-overview,
#tv-show-infos {
    margin-top: 30px;
    padding-right: 10px;
}

#tv-show-infos p {
    font-size: 0.95em;
    margin: 0;
} 

#tv-show-infos span {
    font-weight: bold;
    color: #4f5050;
}

#tv-show-overview p {
    font-size: 1em;  
} 


/* ========================= */
/* PAGE 'MON ESPACE' */

#avatar-form-container {
    margin: 50px 80px;
    padding: 10px 0;
}

#personal-space-tv-shows-container {
    margin-top: 80px;
}

#avatar-form {
    display: flex;
    align-items: center;
}

#personal-space-avatar {
    width: 150px;
    height: 150px;
    overflow: hidden;
    border: 1px solid grey;
    border-radius: 50%;
    margin-right: 30px;
}

#personal-space-avatar img {
    width: 100%;
    height: 100%;
}

#avatar-form form input {
    margin-bottom: 10px;
    cursor: pointer;
}

#personal-space-tv-shows-title {
    margin: 0px 80px;
    padding: 10px;
    background-color: rgb(245, 245, 245);
    text-align: center;
    border: 1px solid rgb(226, 225, 225);
    border-radius: 10px;
    color: rgb(70, 69, 69);
}

#personal-space-tv-shows-container p {
    margin-top: 50px;
    text-align: center;
}

#personal-space-tv-shows-container p img {
    width: 300px;
}

/* ========================= */
/* FOOTER */

footer {
    color: white;
    position: relative;
    display: flex;
    justify-content: center;
    z-index: 10;
    background-color: rgb(35, 35, 35);
}

footer div {
    display: flex;
    flex-direction: column;
    padding: 50px;
}

footer div:first-child {
    justify-content: center;
}

footer h5 {
    font-weight: bold;
    text-decoration: none;
}

footer h5 img {
    display: none;
}

footer a {
    color: grey;
}

footer a:hover {
    color: white;
}

#api-logo {
    width: 45px;
}


/* ========================= */
/* MEDIA QUERIES */

@media (max-width: 1199px) {

    #tv-shows-page-info-container a {
        width: 110px;
    }

    #tv-shows-page-info {
        margin-bottom: 16px;
        line-height: 1.2;
    }

    #tv-shows-page-info img {
        display: none;
    }

    #forms-container {
        padding: 0 50px;
    }
} 


@media (max-width: 992px) {
    body {
        background: url('');
    }

    #intro {
        display: none;
    }

    #post-container {
        margin: 20px;
    }

    #comments-container {
        margin: 0 100px;
    }

    .container {
        max-width: 992px;
    }

    /*  */

    #forms-container {
        padding: 0;
    }

    footer div {
        padding: 50px 30px;
    }

    #connexion-form p input,
    #registration-form p input {
        width: 222px;
    }
}


@media (max-width: 850px) {

    #search-container {
        margin: auto;
        margin-bottom: 20px;
    }

    #discover-form {
        flex-direction: column;
        margin-bottom: 50px;
    }

    #discover-form p {
        margin-bottom: 0;
    }

    #discover-form p .bootstrap-select {
        margin-left: 10px;
    }

    #discover-form p:first-child .bootstrap-select {
        margin-left: 16px;
    }
}


@media (max-width: 794px) {

    footer {
        font-size: 0.8em;
    }

    footer div {
        padding: 40px 25px;
    }

    #api-logo {
        width: 35px;
    }
}


@media (max-width: 781px) {
   
    #next-releases-posts-container h2,
    #news-posts-container h2 {
        font-size: 1.2em;
    }

    nav {
        padding: 10px; 
    }

    nav a {
        font-size: 0.9em;
    }
}


@media (max-width: 767px) {
    /* page d'un article et de ses commentaires: */

    #news-posts-container {
        border: none;
    }

    #next-releases-posts-container {
        margin-top: 80px;
    }

    #post-container {
        margin: 0;
        padding: 0 5px;
    }

    #post-poster img {
        width: 100%;
    }

    #post-actions-container {
        flex-direction: column;
    }

    #post-actions-container div {
        margin-bottom: 5px;
    }

    #sharing-btns-container img {
        width: 38px;
    }

    #comment-form-fields-container {
        flex-direction: column;
    }

    #comment-form input {
        margin-top: 10px;
        width: 65px;
        font-size: 0.8em;
    }
    
    #comments-container {
        margin: 0 5px;
    }

    .comments i {
        padding-left: 6px;
    }

    .author-and-content {
        word-break: break-all;
        padding: 10px 10px;
    }

    .user-avatar-for-comments {
        width: 40px;
        margin-right: 5px;
    }

    .comments-date-and-actions {
        font-size: 0.8em;
    }

    #next-releases-posts-container {
        margin-top: 50px;
    }

    #next-releases-posts-container img {
        width: 50%;
    }

    #pagination {
        top: -40px;
    }

    /*  */

    #avatar-form-container {
        margin: 50px 20px;
        
    }

    #avatar-form {
        font-size: 0.9em;
    }

    #personal-space-avatar {
        width: 100px;
        height: 100px;
    }

    #personal-space-tv-shows-title {
        margin: 0 20px;
    }
}


@media (max-width: 653px) {

    footer {
        flex-direction: column;
        padding: -15px;
    }

    footer div {
        padding: 0;
        padding: 10px 0 10px 20px;
        border-top: 1px solid grey;   
    }

    footer div:not(:first-child):hover {
        background-color: rgb(58, 57, 57);
        cursor: pointer;
    }

    footer p {
        margin-bottom: 0;
        text-align: center;
        padding: 10px 0;
    }

    footer div h5 {
        display: flex;
        align-items: center;
    }

    footer div h5 img {
        display: inline;
        margin-left: 10px;
    }

    footer div a {
        display: none;
    }
}


@media (max-width: 575px) {

    nav a {
        padding: 10px;
        font-size: 0.8em;
    }

    #main-wrap {
        padding-bottom: 0;
    }

    #news-posts-container h3,
    #news-posts-container p {
        text-align: center;
    }

    #news-posts-container h2,
    #next-releases-posts-container h2 {
        font-size: 1em;
    }

    #news-posts-container h3,
    #next-releases-posts-container h3 {
        font-size: 1em;
    }

    #news-posts-container p,
    #next-releases-posts-container p  {
        line-height: 1.2;
        font-size: 0.9em;
    }

    .posters-containers {
        display: block;
        display: flex;
        width: 100%;
        margin: 10px 0;
    }

    .posters-containers .posters {
        width: 90%;
        height: 100%;
        margin: auto;
        margin-bottom: 8px;
    }

    /*  */


    #tv-shows-category-title {
        flex-direction: column;
    }

    #tv-shows-category-title h3 {
        margin-bottom: 2px;
    }

    /*  */

    #tv-shows-page-info-container {
        font-size: 0.9em;
        margin-bottom: 0;
    }

    #tv-shows-page-info,
    #tv-shows-page-info p {
        margin-bottom: 0;
    }

    #avatar-form {
        flex-direction: column;
    }

    #changing-avatar-form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #change-avatar-title,
    #personal-space-tv-shows-title {
        font-size: 1em;
    }
}


@media (max-width: 425px) {

    #main-wrap {
        padding-bottom: 0;
    }

    nav a {
        padding: 5px;
        font-size: 0.7em;
    }

    #news-posts-container,
    #next-releases-posts-container {
        padding-left: 0;
        padding-right: 0;
    }

    #news-posts-container .news-posts,
    #news-posts-container hr:not(.title-separations),
    #next-releases-posts-container .next-releases-posts,
    #next-releases-posts-container hr:not(.title-separations) {
        position: relative;
        top: -25px;
    }

    #next-releases-posts-container {
        top: -50px;
    }    

    #pagination {
        top: -70px;
    }

    .posters-frames .posters {
        width: 80%;
    }

    /*  */

    #scroll-up-arrow img {
        width: 40px;
    }

    /*  */

    #connexion-form,
    #registration-form {
        width: 100%;
    }

    #connexion-form p,
    #registration-form p {
        width: 70%;
    }
}


@media (max-width: 352px) {

    #search-container {
        width: 230px;
    }
}


@media (max-width: 320px) {

    nav a {
        padding: 3px;
        font-size: 0.6em;
    }

    .posters-frames .posters,
    .posters-containers .posters  {
        width: 100%;
    }

    #main-wrap {
        padding-bottom: 50px;
    }
}